---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Experiences from '../components/Experiences.astro';
import Footer from '../components/Footer.astro';
import Projects from '../components/Projects.svelte';
import Contact from '../components/Contact.astro';
import Navbar from '../components/Navbar.svelte';
import ArrowRight from '../icons/arrow_right.astro';
import ArrowTopRight from '../icons/arrow_top_right.astro';
import JobSearch from '../components/Job_search.svelte';
import { SECTIONS, START_DATE_SEARCH_JOB, GOOGLE_TAG } from '../constants/index';
---

<Layout title="Arcedo · Developer" description='' googleTag={GOOGLE_TAG}>
	<main class="min-h-screen text-black font-dm-sans relative">
		{START_DATE_SEARCH_JOB ? <JobSearch client:load startDate={START_DATE_SEARCH_JOB}/>:''}
		<div class="relative">
			<Navbar client:load sections={SECTIONS} />
			<Header id={SECTIONS[0]} />
			<div class="bg-gradient-fixed py-36">
				<div class="w-11/12 md:w-9/12 mx-auto flex flex-col gap-36">
					<Experiences id={SECTIONS[1]} />
					<Projects client:idle id={SECTIONS[2]}>
						<ArrowRight slot="projectPreviewArrow" width='20' height='20' />
						<ArrowTopRight slot="projectTitleArrow" width='28' height='28' />
						<ArrowTopRight slot="projectRepoArrow" width='20' height='20' />
					</Projects>
					<Contact id={SECTIONS[3]} />
				</div>
			</div>
		</div>
		<Footer/>
	</main>
</Layout>
